<?xml version="1.0" encoding="UTF-8"?><plugin>	<name>		<lang name="default">Newyearballs</lang>	</name>	<author>		<lang name="default">0xFF aka AlikMish for Kultimatum</lang>	</author>	<version>1.1</version>	<homepage>http://2api.ru</homepage>	<requires>		<livestreet>1.0</livestreet>		<plugins></plugins>	</requires>	<description>		<lang name="default">Newyearballs</lang>	</description></plugin>